{% extends 'base.html' %}
{% block body %}


        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail_box">
                                    <h3
                                    <span> KHAI MỞ SỰ KIỆN</span>
                                    <hr>
                                    </h3>
                                    <h2>
                                        VUI CÙNG KHA DRACULA
                                    </h2>
                                    <p>
                                        Thời gian: 10h ngày 10/10/2022 - 10h ngày 20/12/2022
                                    </p>
                                    <div>
                                        <a href="https://langla.vn/su-kien/happy-halloween-vui-cung-kha-dracula.html">Chi
                                            Tiết Sự Kiện</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="{{ url_for('static',filename='sukien.png')}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail_box">
                                    <h2>
                                        <span> New Collection</span>
                                        <hr>
                                    </h2>
                                    <h1>
                                        Jewellery
                                    </h1>
                                    <p>
                                        Lorem ipsum dolor sit amet consec tetur adipiscing elit elit at felislacinia
                                        aptent taciti sociosqu ad litora torquent per conubia nostra
                                    </p>
                                    <div>
                                        <a href="">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="{{ url_for('static',filename='slider-img.png')}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail_box">
                                    <h2>
                                        <span> New Collection</span>
                                        <hr>
                                    </h2>
                                    <h1>
                                        Jewellery
                                    </h1>
                                    <p>
                                        Lorem ipsum dolor sit amet consec tetur adipiscing elit elit at felislacinia
                                        aptent taciti sociosqu ad litora torquent per conubia nostra
                                    </p>
                                    <div>
                                        <a href="">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="{{ url_for('static',filename='slider-img.png')}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- end slider section -->
</div>

<!-- item section -->
<div class="item_section layout_padding3">
    <div class="container">
        <div class="item_container">
            <div class="box">
                <div class="price">
                    <h3>
                        Kẹo Bí
                    </h3>
                </div>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='keobi.png')}}" alt="">
                </div>
                <div class="name">

                </div>
            </div>
            <div class="box">
                <div class="price">
                    <h3>
                        Kẹo Bí Ma
                    </h3>
                </div>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='keobima.png')}}" alt="">
                </div>
                <div class="name">

                </div>
            </div>
            <div class="box">
                <div class="price">
                    <h3>
                        Ngôi sao ma thuật
                    </h3>
                </div>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='sao.png')}}" alt="">
                </div>
                <div class="name">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="item_section layout_padding2">
    <div class="container">
        <div class="item_container">
            <div class="box">
                <div class="price">
                    <h3>
                        Giấy Gói Kẹo
                    </h3>
                </div>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='goikeo.png')}}" alt="">
                </div>
                <div class="name">

                </div>
            </div>
            <div class="box">
                <div class="price">
                    <h3>
                        Đường Chảy
                    </h3>
                </div>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='duong.png')}}" alt="">
                </div>
                <div class="name">

                </div>
            </div>
            <div class="box">
                <div class="price">
                    <h3>
                        Bí Ngô
                    </h3>
                </div>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='bingo.png')}}" alt="">
                </div>
                <div class="name">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- end item section -->

<!-- about section -->

<section class="about_section layout_padding2-top layout_padding-bottom">
    <div class="design-box">
        <img src="{{ url_for('static',filename='design-2.png')}}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Đua Top Sự Kiện Nhận Thưởng Mỗi Sever
                        </h2>
                    </div>
                    <p>
                        QUÀ CHO NHẪN GIẢ ĐẠT ĐIỂM SỰ KIỆN CAO NHẤT Ở MỖI LÀNG
                    </p>
                    <div>
                        <a href="https://langla.vn/su-kien/happy-halloween-vui-cung-kha-dracula.html">
                            Xem thêm
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="{{ url_for('static',filename='sukien.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->

<!-- price section -->

<section class="price_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Our Jewellery Price
            </h2>
        </div>
        <div class="price_container">
            <div class="box">
                <div class="name">
                    <h6>
                        Diamond Ring
                    </h6>
                </div>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='p-1.png')}}" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        $<span>1000.00</span>
                    </h5>
                    <a href="">
                        Buy Now
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="name">
                    <h6>
                        Diamond Ring
                    </h6>
                </div>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='i-2.png')}}" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        $<span>1000.00</span>
                    </h5>
                    <a href="">
                        Buy Now
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="name">
                    <h6>
                        Diamond Ring
                    </h6>
                </div>
                <div class="img-box">
                    <img src="{{ url_for('static',filename='i-3.png')}}" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        $<span>1000.00</span>
                    </h5>
                    <a href="">
                        Buy Now
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="" class="price_btn">
                See More
            </a>
        </div>
    </div>
</section>

<!-- end price section -->

<!-- ring section -->

<section class="ring_section layout_padding">
    <div class="design-box">
        <img src="{{ url_for('static',filename='design-1.png')}}" alt="">
    </div>
    <div class="container">
        <div class="ring_container layout_padding2">
            <div class="row">
                <div class="col-md-5">
                    <div class="detail-box">
                        <h4>
                            special
                        </h4>
                        <h2>
                            Wedding Ring
                        </h2>
                        <a href="">
                            Buy Now
                        </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="img-box">
                        <img src="{{ url_for('static',filename='ring-img.jpg')}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end ring section -->

<!-- client section -->

<section class="client_section">
    <div class="container">
        <div class="heading_container">
            <h2>
                Testimonial
            </h2>
        </div>
        <h4 class="secondary_heading">
            What is says our customer
        </h4>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="client_container">
                        <div class="client-id">
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='client.png')}}"" alt="">
                            </div>
                            <div class="name">
                                <h5>
                                    Aliqua
                                </h5>
                                <h6>
                                    Consectetur adipiscing
                                </h6>
                            </div>
                        </div>
                        <div class="detail-box">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrudLorem ipsum
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_container">
                        <div class="client-id">
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='client.png')}}" alt="">
                            </div>
                            <div class="name">
                                <h5>
                                    Aliqua
                                </h5>
                                <h6>
                                    Consectetur adipiscing
                                </h6>
                            </div>
                        </div>
                        <div class="detail-box">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrudLorem ipsum
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_container">
                        <div class="client-id">
                            <div class="img-box">
                                <img src="{{ url_for('static',filename='client.png')}}" alt="">
                            </div>
                            <div class="name">
                                <h5>
                                    Aliqua
                                </h5>
                                <h6>
                                    Consectetur adipiscing
                                </h6>
                            </div>
                        </div>
                        <div class="detail-box">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrudLorem ipsum
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</section>

<!-- end client section -->

<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="design-box">
        <img src="{{ url_for('static',filename='design-2.png')}}" alt="">
    </div>
    <div class="container ">
        <div class="">
            <h2 class="">
                Contact Us
            </h2>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="">
                    <div>
                        <input type="text" placeholder="Name"/>
                    </div>
                    <div>
                        <input type="email" placeholder="Email"/>
                    </div>
                    <div>
                        <input type="text" placeholder="Phone"/>
                    </div>
                    <div>
                        <input type="text" class="message-box" placeholder="Message"/>
                    </div>
                    <div class="d-flex ">
                        <button>
                            SEND
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="map_container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
                                width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end contact section -->



<!-- end info_section -->
{% endblock %}
